.idea/workspace.xml
out/production/EchoClient/Webcam.class
out/production/EchoClient/EchoClient.class
out/production/EchoClient/EchoClientListener.class
out/production/EchoClient/EchoClientWriter.class